.navigationItem
{
    background-color: transparent;
}
.navigationItem:hover
{
    background-color: rgba(0, 0, 0, .15);
    border-bottom: 1px solid black;
}

.navigationItem.selected:hover
{
    background-color: rgba(0, 0, 0, .25);
}

.navigationItem.selected
{
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 1px solid black;
}