
html,
#page
{
    background-color: rgb(195, 20, 20);
    background-color: #660198;
    background-color: #4D007F; /* 10% darker than "roomie purple" */
}

.menuButton .bar
{
    background-color: white;
}

#noJsMessage,
.widget .header,
#headerRow,
.sideMenu .item,
#footerRow
{
    color: White;
    text-decoration: inherit;
}

.sideMenu .item
{
    background-color: transparent;
}
.sideMenu .item:hover
{
    background-color: rgba(0, 0, 0, .15);
}

.sideMenu .item.selected:hover
{
    background-color: rgba(0, 0, 0, .25);
}

.sideMenu .item.selected
{
    background-color: rgba(0, 0, 0, .1);
}