
html,
#page
{
    background-color: rgb(195, 20, 20);
    background-color: #660198;
}

#navigationRow
{
    background-color: rgb(240, 240, 240);
}

#menuButton:hover
{
    background-color: rgba(0, 0, 0, .3);
}

#menuButton .bar
{
    background-color: white;
}

#noJsMessage,
.widget .header,
#headerRow,
#slideOutMenu .item,
#footerRow
{
    color: White;
    text-decoration: inherit;
}