.widget .content
{
    background-color: rgb(102, 1, 152);
}

.widget .header .location,
.widget .header .secondary
{
    opacity: .75;
}

.widget .buttonGroup
{
    background-color: rgba(255 ,255, 255, .95);
}

.widget .buttonGroup .button
{
    background-color: transparent;
    float: none;
}
.widget .button.activated
{
    background-color: rgba(0, 0, 0, .2);
}

.widget .button.activated:active
{
    background-color: rgba(0, 0, 0, .35);
}

.widget .button:active
{
    background-color: rgba(0, 0, 0, .3);
}

.widget .code
{
    background-color: rgba(255, 255, 255, .95);
}
.widget .code:focus,
.widget .code:hover
{
    background-color: rgba(255, 255, 255, 1);
}   

.widget .data,
.widget .group,
.widget .thermostat-controls 
{
    background-color: rgba(255, 255, 255, .95);
}
