.widget .content
{
    background-color: rgb(102, 1, 152);
}

.widget .header .location
{
    opacity: .75;
}

.widget .buttonGroup
{
    background-color: rgba(255 ,255, 255, .95);
}

.widget .buttonGroup .button
{
    background-color: transparent;
    float: none;
}
.widget .button.activated
{
    background-color: rgba(0, 0, 0, .2);
}

.widget .button.activated:active
{
    background-color: rgba(0, 0, 0, .35);
}

.widget .button:active
{
    background-color: rgba(0, 0, 0, .3);
}

.widget .code
{
    background-color: rgba(255, 255, 255, .95);
}
.widget .code:focus,
.widget .code:hover
{
    background-color: rgba(255, 255, 255, 1);
}   

.widget .data,
.widget .group,
.widget .thermostat-controls 
{
    background-color: rgba(255, 255, 255, .95);
}



.widget.disconnected .content,
.widget.waiting .content,
.widget.expired .content,
.widget .widget.disconnected .content,
.widget .widget.waiting .content,
.widget .widget.expired .content
{
    background-color: rgb(122, 61, 152);
}

.widget.disconnected .buttonGroup,
.widget.waiting .buttonGroup,
.widget.expired .buttonGroup,
.widget .widget.disconnected .buttonGroup,
.widget .widget.waiting .buttonGroup,
.widget .widget.expired .buttonGroup
{
    background-color: rgba(255 ,255, 255, .75);
}