@{
    ViewBag.Title = "MarkupTest";
}


<div class="widget device">

  <div class="status disconnected"></div>

  <div class="name">USB Controller</div>

  <div class="buttonGroup">

<form action="/Device/Dim" data-ajax="true" id="form0" method="post"><input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="id" name="id" type="hidden" value="1" />            <button  class="                    leftmost

 button" type="submit" name="power" value="0">                    off

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="10">                    10%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="20">                    20%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="30">                    30%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="40">                    40%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="50">                    50%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="60">                    60%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="70">                    70%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="80">                    80%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="90">                    90%

</button>

</form>  </div>

</div>













<div class="widget device">

  <div class="status disconnected"></div>

  <div class="name">USB Controller</div>

  <div class="buttonGroup">

<form action="/Device/Dim" data-ajax="true" id="form0" method="post"><input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="id" name="id" type="hidden" value="1" />            <button  class="                    leftmost

 button" type="submit" name="power" value="0">                    off

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="10">                    10%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="20">                    20%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="30">                    30%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="40">                    40%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="50">                    50%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="60">                    60%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="70">                    70%

</button>

            <button  class="                    middle

 button" type="submit" name="power" value="80">                    80%

</button>

            <button  class="                    middle button" type="submit" name="power" value="90">90%</button>
</form>
</div>
</div>
