<form class="data">
  <div class="item wide">
    <div class="key">
      Name:
    </div>
    <div class="value">
      <input type="text" ng-model="model.name">
    </div>
  </div>

  <div class="item wide">
    <div class="key">
      Location:
    </div>
    <div class="value">
      <input type="text" ng-model="model.location">
    </div>
  </div>

  <div class="item wide">
    <div class="key">
      Type:
    </div>
    <div class="value">
      <select id="Type" name="Type" ng-model="model.type" ng-options="type as type for type in types">
      </select>
    </div>
  </div>

  <div class="item wide">
    <div class="key">
    </div>
    <div class="value">
      <button type="submit" ng-click="save()">Save</button>
    </div>
  </div>
</form>
