@{
    ViewBag.Title = "Welcome to Roomie!";
}@*

*@<p class="firstItem">@*
    *@Hey!  Thanks for visiting!  Roomie is in super alpha testing right now, so please be patient.@*
*@</p>@*

*@<div>@*
  *@@Html.Partial("Partials/RoomieBot", new RoomieBot{Mood = RoomieBot.HappyMood})@*
*@</div>@*

*@<h2>What is roomie?</h2>@*

*@<p>@*
    *@Roomie is an home automation framework that integrates with Z-Wave (and other) technology.  Roomie includes a scripting language, a desktop client, and this website.@*
*@</p>@*

*@<h2>How can I get involved?</h2>@*

*@<p>@*
    *@Well, one option is to sign in with an OpenID and poke around, though that will only get you so far.  If you want to help with testing and give your feedback, contact me, <a href="http://davidmcgrath.com/contact">David McGrath</a>.@*
*@</p>@*

*@<h3>But I just want to lurk!</h3>@*

*@<p>@*
    *@That's cool too!  Follow my posts about Roomie <a href="http://davidmcgrath.com/roomie">here</a>.@*
*@</p>@*

*@