@{
    ViewBag.Title = "Welcome to Roomie!";
}

<p class="firstItem">
    Hey!  Thanks for visiting!  Roomie is in super alpha testing right now, so please be patient.
</p>
<h2>What is roomie?</h2>
<img src="@Url.Content("~/Content/images/hello.png")"  style="float: right;"/>
<p>
    Roomie is an home automation framework that integrates with Z-Wave (and other) technology.  Roomie includes a scripting language, a desktop client, and this website.
</p>
<h2>How can I get involved?</h2>
<p>
    Well, one option is to sign in with an OpenID and poke around, though that will only get you so far.  If you want to help with testing and give your feedback, contact me, <a href="http://davidmcgrath.com">David McGrath</a>.
</p>
<h3>But I just want to lurk!</h3>
<p>
    That's cool too!  Follow my posts about Roomie <a href="http://davidmcgrath.com/roomie">here</a>.
</p>
<h2>Cupcake Ipsum!</h2>
<p>
    Ice cream cheesecake gummi bears jelly marshmallow faworki jujubes faworki. Bonbon cheesecake bonbon candy brownie dessert ice cream toffee halvah. Marzipan pastry gummies carrot cake carrot cake sweet. Pastry cheesecake cheesecake fruitcake. Fruitcake chocolate gummi bears topping liquorice jujubes. Oat cake chocolate bar carrot cake marshmallow powder faworki cotton candy croissant sugar plum. Lollipop biscuit powder candy gummi bears carrot cake. Dessert lollipop apple pie. Jelly lollipop lollipop biscuit chocolate topping jelly beans. Applicake cake pudding tiramisu pastry. Chocolate bear claw ice cream sweet roll pastry pie bonbon chocolate bar dragée. Cake topping soufflé tart gummies halvah. Bear claw dessert chocolate bar wafer gummies carrot cake marzipan sweet.
</p>
<h3>more cupcakes!</h3>
<p>
    Bonbon pastry cupcake candy canes cookie gummi bears halvah marzipan croissant. Jelly-o lollipop biscuit. Muffin muffin jelly-o carrot cake applicake caramels cupcake chocolate. Dessert cotton candy marzipan chupa chups jujubes biscuit chocolate bar. Jelly-o brownie biscuit candy canes. Soufflé apple pie lemon drops cheesecake marshmallow jelly-o cotton candy lemon drops cheesecake. Bonbon caramels oat cake carrot cake lemon drops. Carrot cake marzipan caramels chocolate cake sweet gummi bears faworki carrot cake toffee. Chupa chups macaroon cupcake icing. Jelly beans dessert gingerbread candy. Cookie candy carrot cake dragée gingerbread oat cake pastry sugar plum. Marshmallow soufflé carrot cake jelly-o liquorice. Macaroon candy canes gummies candy canes dessert sugar plum chocolate bar.
</p>