@model Exception

@{
    ViewBag.Title = "Unhandled Exception";
}

@Html.Partial("Partials/BotMessage/Exception")

<div class="exception">
  <h2 class="message">@Model.Message</h2>
  <p>Exception type: @Model.GetType().Name</p>
  <pre class="stackTrace">@Model.StackTrace</pre>
</div>