@model Exception

@{
    ViewBag.Title = "Unhandled Exception";
}

@section PageSpecificScripts{@*
    *@<script type="text/javascript">
          $(document).ready(function() {
              var $general = $('#content .exception.general');
              var $specific = $('#content .exception.technical');

              $general.show();
              $specific.hide();

              $general.click(function() {
                  $general.hide();
                  $specific.show();
              });
          });
      </script>@*
*@}

@Html.Partial("Partials/BotMessage/Exception")

<div class="exception general">
    <h2 class="message">I messed up.  I can do better... I think.  Are you upset with me?  Sorry, forget I said that.  I'll try really hard and you'll see!</h2>
</div>
<div class="exception technical">
  <h2 class="message">@Model.Message</h2>
  <p>Exception type: @Model.GetType().Name</p>
  <pre class="stackTrace">@Model.StackTrace</pre>
</div>