@model dynamic
@*
*@<div class="botMessage">@*
    *@<h1>@(Model.Message??"Nothing here")</h1>@*
    *@<img src="@(Url.Content(Model.Image ?? "~/Content/images/nothing.png"))" alt="Roomie Bot" />@*
*@</div>@*


*@