@using Roomie.Web.Website.ViewModels
@model dynamic
@*
*@<div class="botMessage">@*
    *@<h1>@(Model.Message??"Nothing here")</h1>@*
    *@@Html.Partial("Partials/RoomieBot", (RoomieBot)(Model.RoomieBot))@*
*@</div>@*

*@