@{
    ViewBag.Title = "Roomie";
    Layout = null;
}

<html ng-app="roomie.app">
  <head>
    <title>Roomie</title>
    @Html.RenderStyles()
    <script type="text/javascript" src="/content/scripts/libraries/angular-1.3.13.min.js"></script>
    <script type="text/javascript" src="/content/scripts/libraries/angular-ui-router-0.2.13.min.js"></script>
    @Html.RenderAngularScripts()
  </head>
  <body>
    <div id="page">
      <div id="headerRow" class="horizontalCrossSection">
        <div id="header" class="mainColumn">
          <h1 id="title">Roomie</h1>
        </div>
      </div>
      <div id="contentRow" class="horizontalCrossSection">
        <div id="content" class="mainColumn" ui-view></div>
      </div>
      <div id="footerRow" class="horizontalCrossSection">
        <div id="footer">
          <a href="http://davidmcgrath.com/roomie">Roomie</a> is an <a href="/source">open source</a> project by <a href="http://davidmcgrath.com">David McGrath</a>.
        </div>
      </div>
    </div>
  </body>
</html>