#content > *
{
    margin-top: 5px;
}

#content > :first-child,
#content > :first-child > :first-child.widget,
#content > :first-child > :first-child > :first-child.widget,
#content > :first-child > :first-child > :first-child > :first-child.widget,
#content > :first-child > :first-child > :first-child > :first-child > :first-child.widget
#content > :first-child > h2:first-child,
#content > :first-child > :first-child > h2:first-child,
#content > :first-child > :first-child > :first-child > h2:first-child,
#content > :first-child > :first-child > :first-child > :first-child > h2:first-child
{
    margin-top: 0;
    padding: 0;
}

#content
{
    padding: 5px;
}

#content h2
{
    padding-top: 20px;
    font-size: 180%;
    font-weight: normal;
}

#content h3
{
    padding-top: 15px;
    font-size: 160%;
    font-weight: normal;

}

#content h4
{
    padding-top: 5px;
    font-size: 140%;
    font-weight: normal;

}

#content h5
{
    padding-top: 5px;
    font-size: 120%;
    font-weight: normal;

}

#content p
{
}

#content img
{
    display: block;
}

#content .collapse-next
{
    cursor: pointer;
}