@model IEnumerable<Roomie.Web.Persistence.Models.DeviceModel>
@{
    ViewBag.Title = "Devices";
}@*

*@@section PageSpecificScripts{@*
    *@<script type="text/javascript">updateDevicesContinuously();</script>@*
*@}@*

*@@if (Model == null || !Model.Any())
{
    @Html.Partial("Partials/BotMessage/Empty")
}
else
  {
    string lastLocation = null;
    foreach (var device in Model)
    {
        var thisLocation = ((device.Location == null) ? null : device.Location.Name) ?? string.Empty;

        if (lastLocation == null || !lastLocation.Equals(thisLocation, StringComparison.InvariantCultureIgnoreCase))
        {@*
            *@<h2>@thisLocation</h2>@*
        *@}

        lastLocation = thisLocation;
        
        var deviceViewModel = new DeviceViewModel(device, Url);
        
        @Html.Partial(
                partialViewName: "Partials/Device/Device",
                 model: deviceViewModel
        )
    }
}