@{
    ViewBag.Title = "Hardware";
}

<h2>Starter Kit</h2>
You will need home automation hardware to use with your lights and things.
<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=somewhatgeeky-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B000BRMMDU" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

<h2>Z-Wave Controller</h2>
You will need hardware to connect the computer to the home automation devices.
<iframe src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&nou=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=somewhatgeeky-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B001HT6Q24" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>