@{
    ViewBag.Title = "Hardware";
}

<h2>Hue</h2>

<h3>A19 (Lightbulb)</h3>

<a href="http://www.amazon.com/gp/product/B00BSN8DN4/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00BSN8DN4&linkCode=as2&tag=somewhatgeeky-20&linkId=KJB6DSZ7RR2O2UJJ" target="_blank">Available on Amazon</a>

<h3>BR30 (Spotlight)</h3>

<a href="http://www.amazon.com/gp/product/B00BSN8DN4/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00BSN8DN4&linkCode=as2&tag=somewhatgeeky-20&linkId=FIIJGMUILKGNB5OZ" target="_blank">Available on Amazon</a>

<h3>Bloom</h3>

<a href="http://www.amazon.com/gp/product/B00BSN8DN4/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00BSN8DN4&linkCode=as2&tag=somewhatgeeky-20&linkId=OFOGCJ2TOU5N4WPZ" target="_blank">Available on Amazon</a>

<h2>Z-Wave</h2>

<h3>USB controller</h3>

<a href="http://www.amazon.com/gp/product/B003MWQ30E/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B003MWQ30E&linkCode=as2&tag=somewhatgeeky-20&linkId=IR5VSYNB77PSDJOC" target="_blank">Available on Amazon</a>

<h3>Binary switch module</h3>

<a href="http://www.amazon.com/gp/product/B00EZ6LJU0/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00EZ6LJU0&linkCode=as2&tag=somewhatgeeky-20&linkId=74AYTJLOGUBMUVSW" target="_blank">Available on Amazon</a>

<h3>Multilevel switch module</h3>

<a href="http://www.amazon.com/gp/product/B00H5U40L8/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00H5U40L8&linkCode=as2&tag=somewhatgeeky-20&linkId=BYEBLMXWG7JDZY7O" target="_blank">Available on Amazon</a>

<h3>Outdoor binary switch</h3>

<a href="http://www.amazon.com/gp/product/B0013V8K3O/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0013V8K3O&linkCode=as2&tag=somewhatgeeky-20&linkId=5VECQRIPJFKCEGM4" target="_blank">Available on Amazon</a>

<h3>In-wall binary switch</h3>

<a href="http://www.amazon.com/gp/product/B0035YRCR2/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0035YRCR2&linkCode=as2&tag=somewhatgeeky-20&linkId=TVMJ3O7TQDMN7PGX" target="_blank">Available on Amazon</a>

<h3>Door/Window sensor</h3>

<a href="http://www.amazon.com/gp/product/B00DJALAIE/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00DJALAIE&linkCode=as2&tag=somewhatgeeky-20&linkId=HBH6AGC2VO4SWZ7J" target="_blank">Available on Amazon</a>

<h3>Multisensor</h3>

<a href="http://www.amazon.com/gp/product/B008D5TYGU/ref=as_li_tl?ie=UTF8&camp =1789&creative=390957&creativeASIN=B008D5TYGU&linkCode=as2&tag=somewhatgeeky-20&linkId=GC6P7JKDI7O37G7H" target="_blank">Available on Amazon</a>

<h3>Thermostat</h3>

<a href="http://www.amazon.com/gp/product/B008DNAGBO/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B008DNAGBO&linkCode=as2&tag=somewhatgeeky-20&linkId=NEKFVTOWNQTQISMD" target="_blank">Available on Amazon</a>
