@{
    ViewBag.Title = "Help";
}

<p>
This page is still in development, but here's a link to things...
</p>

<p>
    <a href="/angular#/help/about">About Roomie</a>
</p>

<p>
@Html.ActionLink(
    linkText: "Home Automation Hardware",
    actionName: "Hardware"
)
</p>

<p>
@Html.ActionLink(
    linkText: "RoomieScript Documentation",
    actionName: "RoomieScript"
)
</p>

<p>
@Html.ActionLink(
    linkText: "Command Index",
    actionName: "Commands"
)
</p>

<p>
@Html.ActionLink(
    linkText: "Home Automation Device Addressing",
    actionName: "DeviceAddresses"
)
</p>