<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49153/upnp/control/basicevent1"
                binding="basicHttpBinding" bindingConfiguration="BasicServiceBinding"
                contract="Sklose.BasicServicePortType" name="BasicServicePort" />
        </client>
    </system.serviceModel>
</configuration>