@model Roomie.Web.Website.ViewModels.RoomieBot
@*

*@<div class="roomieBot @Model.Mood bigger">@*
    *@<div class="head">@*
        *@<div class="eyesContainer">@*
            *@<div class="left eye"></div>@*
            *@<div class="right eye"></div>@*
        *@</div>@*
        *@<div class="mouthContainer">@*
            *@<div class="corner"></div>@*
            *@<div class="mouth"><div class="edgeCorrection"></div></div>@*
        *@</div>@*
    *@</div>@*
*@</div>@*
      
*@