@model WidgetStatus
@*

*@@switch (Model)
  {
      case WidgetStatus.Disconnected: @*
        *@<span class="icon disconnected">@*
          *@<span class="layer"><span class="pillar"></span><span class="dash"></span></span>@*
          *@<span class="layer"><span class="pillar"></span><span class="slashContainer"><span class="slash"></span></span></span>@*
        *@</span> @*
        *@break;
  }@*

*@