@model Roomie.Web.Persistence.Models.Network
@*

*@<div class="buttonGroup two">@*

*@@using (Ajax.BeginForm(
    actionName: "AddDevice",
    controllerName: "Network",
    routeValues: new
    {
        id = Model.Id,
        returnUrl = Request.Path
    },
    ajaxOptions: new AjaxOptions
    {
        HttpMethod = "Post",
    },
    htmlAttributes: new
    {
        @class = "button"
    }
    ))
    {<button class="button">Add Device</button>}@*

*@@using (Ajax.BeginForm(
    actionName: "RemoveDevice",
    controllerName: "Network",
    routeValues: new
    {
        id = Model.Id,
        returnUrl = Request.Path
    },
    ajaxOptions: new AjaxOptions
    {
        HttpMethod = "Post",
    },
    htmlAttributes: new
    {
        @class = "button"
    }
    ))
    {<button class="button">Remove Device</button>}@*

*@</div>@*

*@