@model IEnumerable<Roomie.Web.Persistence.Models.SavedScriptModel>
@{
    ViewBag.Title = "Scripts";
}@*


*@@using(Html.BeginForm(
    actionName: "New",
    controllerName: "Script",
    method: FormMethod.Post,
    htmlAttributes: null
    ))
    {@*
        *@<input type="hidden" name="name" value="new script" />@*
        *@<input type="hidden" name="text" value="<Core.Print Text=&quot;Hi there!&quot; />" />@*
        *@<button type="submit">New</button>@*
    *@}@*

*@@if (Model == null || !Model.Any())
{@Html.Partial("Partials/BotMessage/Empty")}
else
{
    foreach (var script in Model)
    {
        @Html.Partial("Partials/SavedScript/SavedScript", script)
    }
}
