@model Roomie.Web.Models.SavedScriptModel
@{
    ViewBag.Title = "New Script";
}@*

*@@using (Html.BeginForm(
        actionName: null,
        controllerName: null,
        method: FormMethod.Post,
        htmlAttributes: new
        {
            @class="widget"
        }
            ))
            {@*
    
      *@<div class="header">@*
    *@<div class="title">@Html.EditorFor(model => model.Name)</div>@*
  *@</div>@*
  *@@Html.TextAreaFor(model => model.Script.Text, new { @class = "code" })@*
  *@<div class="buttonGroup one">@*
    *@<button class="button only" type="submit">Save Changes</button>@*
  *@</div>@*
  *@}@*

  *@