@using Roomie.Common.Color
@model DeviceViewModel
@{
    //TODO more colors
    var colorStrings = new[] {"Red", "Orange", "Yellow", "Green", "Blue",  "Purple"};
    var colors = colorStrings.Select(x => x.ToColor());
    colors = colors.AddInBetweenColors(true);
    colors = colors.AddInBetweenColors(true);
    //TODO: show selected color
}@*


*@@using (Ajax.BeginRouteForm(
                    routeName: "DefaultApi",
                    routeValues: new
                    {
                        id = Model.Device.Id,
                        action = "SetColor",
                        httproute = true
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*

        *@foreach (var color in colors)
          {
              var hex = color.ToHexString();@*
              *@<div class="button" ><button class="button" style="background-color: @hex;" type="submit" name="color" value="@hex">&nbsp;</button></div>@*
          *@}@*

    *@}@*
*@