@using Roomie.Common.Color
@model DeviceViewModel
@{
    //TODO more colors
    var colorStrings = new[] {"Red", "Red+Orange", "Orange", "Orange+Yellow", "Yellow", "Yellow+Green", "Green", "Green+Blue", "Blue", "Blue+Purple", "Purple", "Purple+Red"};
    var colors = colorStrings.Select(x => x.ToColor());
    //TODO: show selected color
}@*


*@@using (Ajax.BeginForm(
                    actionName: "SetColor",
                    controllerName: "Device",
                    routeValues: new
                    {
                        id = Model.Device.Id
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*

        *@foreach (var color in colors)
          {
              <div class="button" ><button class="button" style="background-color: @color.ToHexString();" type="submit" name="color" value="@color.ToHexString()">&nbsp;</button></div>
          }@*

    *@}@*
*@