@using Roomie.Common.HomeAutomation.MultilevelSwitches
@model DeviceViewModel
@*


*@@using (Ajax.BeginForm(
                    actionName: "Dim",
                    controllerName: "Device",
                    routeValues: new
                    {
                        id = Model.Device.Id
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*

        *@for (int power = 0; power <= 10; power++)
          {
             var label = string.Empty;
             
             switch (power)
             {
                 case 0:
                     label = "Off";
                     break;
                     
                 case 10:
                     label = "On";
                     break;
             }
             
           @*
          *@<div class="@{
            if (power == 0 || power == 10)
                {<text>bigger</text>}

                var percentage = Model.Device.DimmerSwitch.CalculatePowerPercentage() / 10;
                if ((percentage > (power - 1))
                    && (percentage <= (power)))
                {<text> activated</text>}
        } button"><button class="button" type="submit" name="power" value="@(power * (Model.Device.DimmerSwitch.MaxPower ?? 100) / 10)">@label</button></div>}@*

    *@}@*
*@