@model DeviceViewModel
@{
    var dimmer = Model.Device.MultilevelSwitch;
    var currentPower = dimmer.Power;
    var maxPower = dimmer.MaxPower ?? 100;
}@*


*@@using (Ajax.BeginRouteForm(
                    routeName: "DefaultApi",
                    routeValues: new
                    {
                        id = Model.Device.Id,
                        action = "Dim",
                        httproute = true
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*

        *@for (int power = 0; power <= 10; power++)
          {
             string label;
             bool activated;
             int target;

             switch (power)
             {
                 case 0:
                     label = "Off";
                     target = 0;
                     activated = currentPower == 0;
                     break;

                 case 10:
                     label = "On";
                     activated = currentPower >= maxPower;
                     target = maxPower;
                     break;

                 default:
                     var lower = (power - 1) * maxPower / 10;
                     var upper = (power) * maxPower / 10;
                     var middle = ((double) lower + upper)/2;

                     label = string.Empty;
                     target = (int)(middle);
                     activated = (currentPower > lower) && (currentPower <= upper);
                     break;
             }
           @*
          *@<div class="@{
            if (power == 0 || power == 10)
                {<text>bigger</text>}
                if (activated)
                {<text> activated</text>}
        } button"><button class="button" type="submit" name="power" value="@target">@label</button></div>}@*

    *@}@*
*@