@using Roomie.Common.HomeAutomation.MultilevelSwitches
@model DeviceViewModel
@{
    var dimmer = Model.Device.DimmerSwitch;
    var currentPower = dimmer.Power;
    var maxPower = dimmer.MaxPower ?? 100;
}@*


*@@using (Ajax.BeginForm(
                    actionName: "Dim",
                    controllerName: "Device",
                    routeValues: new
                    {
                        id = Model.Device.Id
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*

        *@for (int power = 0; power <= 10; power++)
          {
             string label;
             bool activated;
             int target;

             switch (power)
             {
                 case 0:
                     label = "Off";
                     target = 0;
                     activated = currentPower == 0;
                     break;

                 case 10:
                     label = "On";
                     activated = currentPower >= maxPower;
                     target = maxPower;
                     break;

                 default:
                     var lower = power - 1;
                     var upper = power;
                     var middle = ((double) lower + upper)/2;
                     var percentage = (double?) dimmer.CalculatePowerPercentage() / 10;

                     label = string.Empty;
                     target = (int)(middle * maxPower / 10);
                     activated = (percentage > lower) && (percentage <= upper);
                     break;
             }
           @*
          *@<div class="@{
            if (power == 0 || power == 10)
                {<text>bigger</text>}
                if (activated)
                {<text> activated</text>}
        } button"><button class="button" type="submit" name="power" value="@target">@label</button></div>}@*

    *@}@*
*@