@using Roomie.Common.HomeAutomation.MultilevelSwitches
@model DeviceViewModel
@{
    var dimmer = Model.Device.DimmerSwitch;
    var maxPower = dimmer.MaxPower ?? 100;
}@*


*@@using (Ajax.BeginForm(
                    actionName: "Dim",
                    controllerName: "Device",
                    routeValues: new
                    {
                        id = Model.Device.Id
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*

        *@for (int power = 0; power <= 10; power++)
          {
             var label = string.Empty;
             var lower = power - 1;
             var upper = power;
             
             switch (power)
             {
                 case 0:
                     label = "Off";
                     break;
                     
                 case 10:
                     label = "On";
                     break;
             }
             
            var percentage = dimmer.CalculatePowerPercentage() / 10;
            bool activated = (percentage > lower) && (percentage <= upper);

            var target = power * maxPower / 10;
           @*
          *@<div class="@{
            if (power == 0 || power == 10)
                {<text>bigger</text>}
                if (activated)
                {<text> activated</text>}
        } button"><button class="button" type="submit" name="power" value="@target">@label</button></div>}@*

    *@}@*
*@