@using Roomie.Common.HomeAutomation.DimmerSwitches
@using Roomie.Common.HomeAutomation.MultilevelSwitches
@model DeviceViewModel
@*


*@@using (Ajax.BeginForm(
                    actionName: "Dim",
                    controllerName: "Device",
                    routeValues: new
                    {
                        id = Model.Device.Id
                    },
                    ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "Post",
                    },
                    htmlAttributes: new
                    {
                        @class = "buttonGroup",
                        id = string.Empty
                    }
                    ))
    {@*

        *@for (int power = 0; power <= 100; power += 10)
          {@*
          *@<div class="@{
            if (power == 0 || power == 100)
                {<text>bigger</text>}

                var percentage = Model.Device.DimmerSwitch.CalculatePowerPercentage();
                if ((percentage > (power - 10))
                    && (percentage <= (power)))
                {<text> activated</text>}
        } button"><button class="button" type="submit" name="power" value="@power">@{
            if (power == 0)
            {<text>Off</text>}
            else if (power == 100)
            {<text>On</text>}
            else
            {<text></text>}
        }</button></div>}@*

    *@}@*
*@