@model DeviceViewModel
@*

//TODO: make this work

*@<div class="data">@*
  *@<div style="display: inline-block; width: 20%; min-width: 200px; zoom: .5; vertical-align: middle;">@*
    *@@Html.Partial("Partials/RoomieBot", new RoomieBot{Mood = RoomieBot.UneasyMood})@*
  *@</div>@*
  *@Eep!  I don't know how to display thermostats yet!  But I will soon!@*
*@</div>@*


*@