@using Roomie.Common.HomeAutomation.ToggleSwitches
@model Roomie.Web.Persistence.Models.DeviceModel
@*

*@<div class="buttonGroup two">@*

*@@using (Ajax.BeginForm(
            actionName: "PowerOff",
            controllerName: "Device",
            routeValues: new
                {
                    id = Model.Id
                },
            ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "Post",
                },
            htmlAttributes: new
                {
                    @class = "button" + (Model.ToggleSwitch.Power == ToggleSwitchPower.Off ? " activated" : ""),
                    id = string.Empty
                }
            )){<button class="button" >Off</button>}@*

*@@using (Ajax.BeginForm(
            actionName: "PowerOn",
            controllerName: "Device",
            routeValues: new
                {
                    id = Model.Id
                },
            ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "Post",
                },
            htmlAttributes: new
                {
                    @class = "button" + (Model.ToggleSwitch.Power == ToggleSwitchPower.On ? " activated" : ""),
                    id = string.Empty
                }
            )){<button class="button">On</button>}@*



*@</div>@*

*@