@using Roomie.Common.HomeAutomation.BinarySwitches
@model Roomie.Web.Persistence.Models.DeviceModel
@*

*@<div class="buttonGroup two">@*

*@@using (Ajax.BeginRouteForm(
            routeName: "DefaultApi",
            routeValues: new
                {
                    id = Model.Id,
                    action = "PowerOff",
                    httproute=true
                },
            ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "Post",
                },
            htmlAttributes: new
                {
                    @class = "button" + (Model.ToggleSwitch.Power == BinarySwitchPower.Off ? " activated" : ""),
                    id = string.Empty
                }
            )){<button class="button" >Off</button>}@*

*@@using (Ajax.BeginRouteForm(
            routeName: "DefaultApi",
            routeValues: new
            {
                id = Model.Id,
                action = "PowerOn",
                httproute = true
            },
            ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "Post",
                },
            htmlAttributes: new
                {
                    @class = "button" + (Model.ToggleSwitch.Power == BinarySwitchPower.On ? " activated" : ""),
                    id = string.Empty
                }
            )){<button class="button">On</button>}@*



*@</div>@*

*@