@if (ViewData["Message"] != null)
{
<div style="border: solid 1px red">
	@Html.Encode(ViewData["Message"].ToString())
</div>
}
    
<form action="Authenticate?ReturnUrl=@ViewBag.ReturnUrl" method="post">
  <label for="openid_identifier">OpenID: </label>
  <input id="openid_identifier" name="openid_identifier" size="40" />
  <input type="submit" value="Login" />
</form>

