#content > *
{
    margin: 5px;
    margin-top: 0px;
}

#content
{
    padding-top: 5px;
}

#content h2
{
    padding-top: 15px;
    font-size: 130%;
    font-weight: normal;
}

#content h3
{
    padding-top: 10px;
    font-size: 110%;
    font-weight: normal;

}

#content p
{
}

#content img
{
    display: block;
}
