#navigation
{
    padding: 0px;
    margin: 0px;
    display: block;
}

#navigation .left
{
    float: left;
}

#navigation .right
{
    float: right;
}

.navigationItem
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    display: block;
    color: inherit;
}

.navigationItem.selected
{

}

/* nested navigation items */
.navigationItem .navigationItem
{
    padding-left: 20px;
}

.topNavigation .navigationItem
{
    display: inline-block;
}