* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html
{
    font-family: Sans-Serif;
}

html,
body
{
    height: 100%;
}

a
{
    color: inherit;
}

form
{
    margin: 0px;
    padding: 0px;
    display: inline;
}


/* ==================================================
    Level one -- page
   ================================================== */
#page
{
    display: block;
    min-height: 100%;
}
.horizontalCrossSection
{
    display: block;
    overflow-x: hidden;
}

/* ==================================================
    Level two -- three top, middle, and bottom blocks.
   ================================================== */


/* ==================================================
    Level three -- the content areas
   ================================================== */

.mainColumn /* includes #header, #content, and #footer */
{
    display: block;
    overflow: visible;
    max-width: 750px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* ==================================================
   #header (and children #title, account), #content,
   and #footer styles.
   ==================================================
*/

#noJsMessage,
#page #header
{
    font-size: 175%;
}

#noJsMessage
{
    display: block;
    text-align: center;
    height: 100%;
}

#noJsMessage .positionThing {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#noJsMessage .message {
    display: inline-block;
    vertical-align: middle;
 }

#page #footer
{
    font-size: 90%;
}

#logo
{
    padding-top: 5px;
    display: block;
    text-decoration: inherit;
}

.menuButton
{
    display: inline-block;
    height: 1em;
    width: 1em;
    overflow: hidden;
    vertical-align: bottom;
    padding: 10px;
    vertical-align: middle;
}

.menuButton .bar
{
    display: block;
    height: 14.2857142857%;
    margin-top: 14.2857142857%;
}

.menuButton .bar.indent
{
    margin-left: 30%;
}

.menuButton:hover {
    cursor: pointer;
}

#navigationMenuToggle
{
    padding-left: 0px;
}

#pageMenuToggle
{
    float: right;
    padding-right: 0;
}

#title
{
    display: inline-block;
    margin-top: 2px;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: middle;
}

.sideMenu
{
    position: fixed;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 0;
}

.sideMenu .item
{
    display: block;
    font-size: 150%;
    white-space: nowrap;
    padding: 5px;
    cursor: pointer;
}

.sideMenu .divider
{
    height: 1em;
}

.sideMenu .item .content
{
    display: inline;
    white-space: nowrap;
    text-decoration: none;
}

#content /* #content is the second child of the middle page slice */
{
    padding-bottom: 0px;
}

#footer /* page/.../footer */
{
    text-align: center;
    font-size: 75%;
    padding: 3px;
}

.exception .message
{
    overflow-x: auto;
}

.exception .stackTrace
{
    overflow: auto;
    display: block;
    max-height: 300px;
}

.exception.general .message
{
    text-align: center;
    cursor: pointer;
}
