* {
   margin: 0px;
   padding: 0px;

}

html
{
    font-family: Sans-Serif;
}

html,
body
{
    height: 100%;
}

div
{
    padding: 0px;
    margin: 0px;
}
a
{
    color: inherit;
}

form
{
    margin: 0px;
    padding: 0px;
    display: inline;
}


/* ==================================================
    Level one -- page
   ================================================== */
#page
{
    display: block;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
}
.horizontalCrossSection
{
    display: block;
}

/* ==================================================
    Level two -- three top, middle, and bottom blocks.
   ================================================== */


/* ==================================================
    Level three -- the content areas
   ================================================== */

.mainColumn /* includes #header, #content, and #footer */
{
    display: block;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    max-width: 1000px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* ==================================================
   #header (and children #title, account), #content,
   and #footer styles.
   ==================================================
*/
#page #header
{
    font-size: 150%;
}

#page #footer
{
    font-size: 90%;
}

#logo
{
    padding-top: 5px;
    display: block;
    text-decoration: inherit;
}

#header
{
    padding: 5px;
    
}
#title /* #title is the first child of #header */
,#account
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    
}

#title
{
}

#account /* #account is the second child of #header */
{
    float: right;
}

#content /* #content is the second child of the middle page slice */
{
    padding-bottom: 0px;
}

#footer /* page/.../footer */
{
    text-align: center;
    font-size: 75%;
    padding: 3px;
}
