* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html
{
    font-family: Sans-Serif;
}

html,
body
{
    height: 100%;
}

a
{
    color: inherit;
}

form
{
    margin: 0px;
    padding: 0px;
    display: inline;
}


/* ==================================================
    Level one -- page
   ================================================== */
#page
{
    display: block;
    min-height: 100%;
}
.horizontalCrossSection
{
    display: block;
    overflow-x: hidden;
}

/* ==================================================
    Level two -- three top, middle, and bottom blocks.
   ================================================== */


/* ==================================================
    Level three -- the content areas
   ================================================== */

.mainColumn /* includes #header, #content, and #footer */
{
    display: block;
    overflow: visible;
    max-width: 1000px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* ==================================================
   #header (and children #title, account), #content,
   and #footer styles.
   ==================================================
*/

#noJsMessage,
#page #header
{
    font-size: 150%;
}

#page #footer
{
    font-size: 90%;
}

#logo
{
    padding-top: 5px;
    display: block;
    text-decoration: inherit;
}

#header
{
    padding: 5px;
}

#menuButton
{
    display: inline-block;
    height: 1.05em;
    width: 1.05em;
    overflow: hidden;
    vertical-align: bottom;
    margin-right: 5px;
    padding: 3px;
}

#menuButton .bar
{
    display: block;
    height: .15em;
    margin-top: .15em;
}

#title /* #title is the first child of #header */
,#account
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    
}

#slideOutMenu
{
    position: fixed;
    overflow-x: hidden;
    width: 0;
}

#slideOutMenu .item
{
    display: block;
    font-size: 150%;
    white-space: nowrap;
    padding: 5px;
}

#slideOutMenu .divider
{
    height: 1em;
}

#slideOutMenu .item .content
{
    display: inline;
    white-space: nowrap;
    text-decoration: none;
}

#content /* #content is the second child of the middle page slice */
{
    padding-bottom: 0px;
}

#footer /* page/.../footer */
{
    text-align: center;
    font-size: 75%;
    padding: 3px;
}

