/* widget
-----------------------------------------------------------*/
.widget,
.widget .group
{
    padding: 5px;
}

.widget,
.widget .group
{
    margin: 5px;
}

.widget,
.widget .content,
.widget .group
{
    overflow: hidden;
    display: block;
}

.widget .group
{
    margin: 0px;
}

.widget
{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 2px;
    padding: 0px;
}

.widget,
.widget .data,
.widget .status,
.widget .code,
.widget .buttonGroup,
.widget .content,
.widget .thermostat-controls,
.widget .buttonGroup > *

{
    border: 1px solid black;
}

.widget .data,
.widget .code,
.widget .buttonGroup,
.widget .thermostat-controls
{
    border-bottom: none;
    border-left:none;
    border-right: none;
}

.widget .content
{
    border: none;
}

.widget .header
{
    display: block;
    text-align: left;
    text-decoration: inherit;
    padding: 3px;
}

.widget .status
{
    height: 15px;
    width: 12px;
    float: left;
    border-radius: 10px;
    margin: 3px 3px 3px 3px;
}

.widget .location
{
    display: inline;
    float: right;
    padding: 0px;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.widget .location.unknown
{
    display: none;
}

.widget .name
{
    display: inline-block;
    text-decoration: inherit;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

/*******************************
 * Button/Button Group styles
 *******************************/
.widget .buttonGroup
{
    display: table;
    overflow: hidden;
}

.widget .buttonGroup > *
{
    display: table-cell;
    width: 1%;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.widget .buttonGroup > *:first-child
{
    border: none;
}

.widget .buttonGroup .button
{
    height: 1.5em;
    vertical-align: middle;
    text-align: center;
    text-transform: lowercase;
    font-size: 150%;
    cursor: pointer;
    text-decoration: inherit;
    overflow: hidden;
}

.widget .buttonGroup .button .button
{
    width: 100%;
    font-size: inherit;
    border: none;
}

/* toggle */
.widget .bigger.button
{
    width: 2.5%;
}


/*******************************
 * Code Styles
 *******************************/

.widget .code
{
    width: 100%;
    height: 50px;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*******************************
 * Data Line Styles
 *******************************/

.widget .data
{
    display: block;
    padding: 5px;
}

.widget .data .item
{
    display: inline-block;
    width: 50%;
}
.widget .data .wide.item
{
    width: 100%;
}
.widget .data .item .key
{
    display: inline-block;
    width: 30%;
    font-weight: bold;
}
.widget .data .item .value
{
    display: inline-block;
    width: 70%;
}
.widget .data .item,
.widget .data .item .key,
.widget .data .item .value
{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
/*******************************
 * Form Styles
 *******************************/
.widget .data input,
.widget .data select
 {
     display: block;
     width: 100%;
 }
.widget .data button
 {
     float: right;
 }
 
 
 /***********************
* commands widgets
**************************/
.widget.command .type,
.widget.command .optional,
.widget.command .required,
.widget.command .default
{
    display: inline;
    margin-right: 5px;
}

.widget.command .type
{
    font-family: Monospace;
}

.widget.command .optional,
.widget.command .required
{
    float: left;
}

.widget.command .default
{
    text-decoration: underline;
    margin-right: 5px;
}

.widget.command .description
{
}

.widget.command .description.empty
{
    font-style: italic;
}

.widget .thermostat-controls .temperature
{
    display: inline-block;
    font-size: 3em;
    width: 25%;
    box-sizing: border-box;
    min-width: 50px;
    vertical-align: middle;
    text-align: center;
}

.widget .thermostat-controls .stack
{
    width: 75%;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 3px;
    vertical-align: middle;
    border-left: 1px solid black;
}

.widget .thermostat-controls .stack .row
{
    display: block;
}