@model ComputerViewModel
@helper ComputerUrl(ComputerModel computer){@*
    *@@Url.Action(
        actionName: "Details",
        controllerName: "Computer",
        routeValues: new
        {
            id = Model.Computer.Id,
            name = (Model.Computer.Name != null) ? (Model.Computer.Name.Replace(' ', '_')) : (null)
        }
    )}@*
*@@Html.Partial("Partials/WidgetStart", Model.WidgetData)@*
*@@using (Ajax.BeginForm(
        actionName: "RunScript",
        controllerName: "Computer",
        routeValues: new
        {
            Id = Model.Computer.Id,
            returnUrl = Request.Path
        },
        ajaxOptions: new AjaxOptions
        {
            HttpMethod = "Post",

        }
    ))
  {@*
  *@<textarea name="script" id="script" class="code">@*
    *@@if (Model.Computer.LastScript != null)
    {@(Model.Computer.LastScript.Text)}
    else
    {<Computer.Speak Text="Hi there!" />}@*
    
  *@</textarea>@*
  *@<div class="buttonGroup">@*
    *@<button class="button only" name="runButton" type="submit" value="submit">Run Script</button>@*
  *@</div>@*
*@}@*

*@@if (Model.DisplayWebhookSettings){@Html.Partial("Partials/Computer/WebHookSettings", Model.Computer)}@*

*@@Html.Partial("Partials/WidgetEnd", Model.WidgetData)@*
*@