@model Roomie.Web.Persistence.Models.EntityFrameworkComputerModel

@*
*@@using (Html.BeginForm(
    actionName: "Create",
    controllerName: "Computer",
    method: FormMethod.Post,
    htmlAttributes: new
    {
        @class = "widget computer"
    }
      ))
  {@*
  *@<div class="header">@*
    *@@Html.TextBoxFor(c => c.Name, new
            {
                @class = "title"
            }
    )@*
  *@</div>@*
  *@<div class="buttonGroup one">@*
    *@<button class="button only">Add New Computer</button>@*
  *@</div>@*
*@}