<div
  class="temperature"
  >
  <div
    class="section"
    >
    <button
      class="button setpoint-button"
      ng-click="colder()"
      ng-if="canSet()"
      >
      -
    </button>
  </div>
  <div
    class="section main-display"
    >
    <div
      ng-class="{active: active, button: toggle, toggle: toggle}"
      ng-click="toggle()"
      >
      <div
        class="value"
        >
        {{format(temperature)}}
      </div>
      <div
        class="description"
        >
        {{label}}
      </div>
    </div>
  </div>
  <div
    class="section"
    >
    <button
      class="section button setpoint-button"
      ng-click="hotter()"
      ng-if="canSet()"
      >
      +
    </button>
  </div>
</div>
