body
{
    background-color: rgb(253, 252, 255);
}
#colorStrip
{
    background-color: rgb(128, 0, 128);
}

.widget .header
{
    color: White;
}

.widget .content,
.widget.connected .content,
.widget.received .content,
.widget.waiting .content,
.widget.disconnected .content
{
    background-color: rgb(140, 0, 140);
}

.widget.expired .content
{
    background-color: rgb(200, 150, 200);
}

.widget.network.connected .content,
.widget.network.disconnected .content
{
    background-color: rgb(160, 0, 160);
}

.widget .buttonGroup
{
    background-color: rgba(255 ,255, 255, .4);
}

.widget.disconnected .content,
.widget.waiting .content,
.widget.expired .content,
.widget .widget.disconnected .content,
.widget .widget.waiting .content,
.widget .widget.expired .content
{
    margin: 3px;
    border: 1px solid black;
    opacity: .95;
}

.widget.connected,
.widget.received,
.widget .widget.connected,
.widget .widget.received
{
    background-color: rgba(0, 255, 0, .9);
}

.widget.disconnected,
.widget.waiting,
.widget.expired,
.widget .widget.disconnected,
.widget .widget.waiting,
.widget .widget.expired
{
    background-color: rgba(255, 255, 0, .75);
}